<ul class="social-links">
  <li>
    <a href="{{ site.about.github }}" rel="me" class="github" aria-label="My profile on Github" title="Github"><i aria-hidden="true" class="fab fa-github"></i></a>
  </li>
  <li>
    <a href="{{ site.about.mastodon }}" rel="me" class="mastodon" aria-label="My profile on Mastodon" title="Mastodon"><i aria-hidden="true" class="fab fa-mastodon"></i></a>
  </li>
  <li>
    <a href="{{ site.about.bluesky }}" rel="me" class="bluesky" aria-label="My profile on Bluesky" title="Bluesky">{% asset bluesky @inline %}</a>
  </li>
  <li>
    <a href="{{ site.about.linkedin }}" class="linkedin" aria-label="My profile on LinkedIn" title="LinkedIn"><i aria-hidden="true" class="fab fa-linkedin"></i></a>
  </li>
  <li>
    <a href="{{ site.about.exercism }}" class="exercism" aria-label="My profile on Exercism" title="Exercism">{% asset exercism @inline %}</a>
  </li>
  <li>
    <a href="{{ site.about.lastfm }}" class="lastfm" aria-label="My profile on Last.fm" title="Last.fm"><i aria-hidden="true" class="fab fa-lastfm"></i></a>
  </li>
  <li>
    <a href="{{ site.about.flickr }}" class="flickr" aria-label="My photos on Flickr" title="Flickr"><i aria-hidden="true" class="fab fa-flickr"></i></a>
  </li>
</ul>
