* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  overflow-y: scroll;
  color: var(--text-color);
  background: var(--background-color);
}

a {
  @include inline-link();
}

figure img {
  @include box();
}

@mixin grid {
  display: grid;
  grid-template-columns: var(--page-margin-left) 1fr;
  padding: 0 var(--page-padding-left);
}

.page-wrapper {
  --page-margin-left: 0rem;
  --page-padding-left: #{$gap-medium};
  --pulled-out-block-margin-left: calc(-0.5 * (var(--page-margin-left)));
  // need to randomly add 20px because for some reason the scrollbar counts into 100dvw :(
  // (max expected scrollbar width is 20px)
  --pulled-out-block-margin-right: min(
    0px,
    max(
      var(--pulled-out-block-margin-left),
      calc(-1 * (100dvw - #{$page-max-width} - var(--page-margin-left) - 2 * var(--page-padding-left) - 20px))
    )
  );
  --pulled-out-block-width: calc(100% - var(--pulled-out-block-margin-left) - var(--pulled-out-block-margin-right));
  // need to randomly add 20px because for some reason the scrollbar counts into 100dvw :(
  // (max expected scrollbar width is 20px)
  // also don't fill out _all_ the available space, only up to $max extra
  $max: 20rem;
  --pulled-out-right-only-block-margin-right: min(
    0px,
    max(
      #{-1 * $max},
      calc(-1 * (100dvw - #{$page-max-width} - var(--page-margin-left) - 2 * var(--page-padding-left) - 20px))
    )
  );
  --pulled-out-right-only-block-width: calc(100% - var(--pulled-out-right-only-block-margin-right));
  position: relative;
  min-height: 100vh;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: auto auto 1fr;

  @media #{$small} {
    --page-padding-left: #{$gap-medium};
  }

  @media #{$medium} {
    --page-padding-left: #{$gap-big};
  }

  @media #{$big} {
    --page-padding-left: #{$gap-huge};
  }

  @media #{$very-big} {
    --page-padding-left: #{$gap-huge * 1.5};
    --page-margin-left: calc(var(--page-padding-left) * 2);
  }

  > * {
    @include grid();
    min-width: 0;

    > * {
      min-width: 0;
    }
  }

  .page-content, .footer {
    > * {
      grid-column: 2 / 3;
      max-width: $page-max-width;
    }
  }

  .footer {
    align-self: flex-end;
  }
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

@mixin focus {
  outline: 2px solid var(--accent-color);
}

*:focus-visible {
  @include focus()
}

// transition all for nicer theme change
// TODO: maybe bring back, but only apply before theme change and then immediately remove?
* {
  //transition: all $transition-duration ease;
}

// TODO: fix epileptic-like flashes when navigating pages!!!
