$page-max-width: rem-calc(700);

* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  overflow-y: scroll;
  color: $text-color;
  background-color: $background-color;
}

a {
  color: $anchor-color;
}

.page-wrapper {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 $small-gap;
}