* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  overflow-y: scroll;
  color: var(--text-color);
  background: var(--background-color);
}

a {
  @include inline-link();
}

figure img {
  @include shadow();
}

.page-wrapper {
  --page-margin-left: 0rem;
  --page-padding-left: #{$gap-medium};
  --figure-margin-left: calc(-0.5 * (var(--page-margin-left)));
  // imperfect calculation (20px) because for some reason the scrollbar counts into 100dvw :(
  --figure-margin-right: min(
    0px,
    max(
      var(--figure-margin-left),
      calc(-1 * (100dvw - #{$page-max-width} - var(--page-margin-left) - 20px))
    )
  );
  --figure-width: calc(100% - var(--figure-margin-left) - var(--figure-margin-right));
  position: relative;
  max-width: $page-max-width;
  min-height: 100vh;
  margin: 0 auto 0 var(--page-margin-left);
  padding: $gap-medium var(--page-padding-left) $gap-medium var(--page-padding-left);
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: auto auto 1fr;

  @media #{$small} {
    --page-margin-left: #{$gap-huge};
    --page-padding-left: #{$gap-big};
  }

  @media #{$medium} {
    --page-margin-left: #{$gap-huge * 2};
  }

  @media #{$big} {
    --page-margin-left: #{$gap-huge * 3};
  }

  @media #{$very-big} {
    --page-margin-left: #{$gap-huge * 4};
  }

  > * {
    min-width: 0;
  }

  footer {
    align-self: flex-end;
  }
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

@mixin focus {
  outline: 2px solid var(--accent-color);
}

*:focus-visible {
  @include focus()
}

// transition all for nicer theme change
* {
  transition: all $transition-duration ease;
}
