$purple: #642ac1;
$blue: #49B3EC;
$green: #36D233;
$yellow: #FFDD55;
$orange: #FF911B;
$red: #F9434F;

$navy: #342C9A;
$cyan: #00ffff;
$teal: #4CC2A7;

$white: #ffffff;
$black: #000000;
$transparent-white: rgba(255, 255, 255, 0);
$transparent-black: rgba(0, 0, 0, 0);
$shadow-1-color: rgba(0, 0, 0, 0.2);
$shadow-2-color: rgba(0, 0, 0, 0.1);

$syntax-purple: $purple;
$syntax-green: darken($green, 15);
$syntax-red: darken($red, 10);
$syntax-salmon: darken($blue, 25);
$syntax-red-error: darken($red, 10);
$syntax-teal: darken($teal, 10);
$syntax-teal-dark: darken($teal, 20);
$syntax-navy: $navy;
$syntax-orange: darken($blue, 25);

$text-color-light: #222;
$text-color-secondary-light: #666;
$background-color-light: $white;
$secondary-background-color-light: #eee;
$border-color-light: #ccc;

$text-color-dark: #eee;
$text-color-secondary-dark: #bbb;
$background-color-dark: #222;
$secondary-background-color-dark: #333;
$border-color-dark: #555;

:root {
  --text-color: #{$text-color-light};
  --secondary-text-color: #{$text-color-secondary-light};
  --background-color: #{$background-color-light};
  --secondary-background-color: #{$secondary-background-color-light};
  --background-color-transparent: #{rgba($background-color-light, 0)};

  --reverse-text-color: var(--background-color);
  --reverse-secondary-text-color: var(--secondary-background-color);
  --reverse-background-color: var(--text-color);

  --highlight: #{rgba($yellow, 0.5)};
  --selection: #{rgba($orange, 0.5)};
  --reverse-highlight: #{$purple};
  --accent-color: #{$orange};
  --reverse-accent-color: #{$blue};
  --accent-color1: #{$yellow};
  --accent-color2: #{$orange};
  --accent-color3: #{$red};

  --border-color: #{$border-color-light};
  --shadow-color-1: rgba(0, 0, 0, 0.2);
  --shadow-color-2: rgba(0, 0, 0, 0.1);
  --shadow-color-transparent: rgba(0, 0, 0, 0);

  // color names are mismatched on purpose
  // I wanted yellow / orange / red in dark more
  // and green / blue / purple in light mode
  // but was too lazy to come up with semantic names
  --syntax-purple: #{$purple};
  --syntax-green: #{darken($green, 20)};
  --syntax-red: #{darken($red, 15)};
  --syntax-salmon: #{darken($blue, 25)};
  --syntax-red-error: #{darken($red, 15)};
  --syntax-teal: #{darken($green, 20)};
  --syntax-teal-dark: #{darken($green, 25)};
  --syntax-navy: #{$navy};
  --syntax-orange: #{darken($blue, 30)};
}

html[data-dark] {
  --text-color: #{$text-color-dark};
  --secondary-text-color: #{$text-color-secondary-dark};
  --background-color: #{$background-color-dark};
  --background-color-transparent: #{rgba($background-color-dark, 0)};
  --secondary-background-color: #{$secondary-background-color-dark};

  --reverse-text-color: var(--text-color);
  --reverse-secondary-text-color: var(--secondary-text-color);
  --reverse-background-color: var(--secondary-background-color);

  --highlight: #{rgba($purple, 0.5)};
  --selection: #{rgba($blue, 0.5)};
  --reverse-highlight: #{rgba($purple, 0.5)};
  --accent-color: #{$blue};
  --reverse-accent-color: #{$orange};
  --accent-color1: #{$purple};
  --accent-color2: #{$blue};
  --accent-color3: #{$green};

  --border-color: #{$border-color-dark};
  --shadow-color-1: rgba(255, 255, 255, 0.3);
  --shadow-color-2: rgba(255, 255, 255, 0.2);
  --shadow-color-transparent: rgba(255, 255, 255, 0);
  --syntax-purple: #{lighten($orange, 10)};
  --syntax-green: #{lighten($green, 10)};
  --syntax-red: #{lighten($red, 15)};
  --syntax-salmon: #{lighten($red, 15)};
  --syntax-red-error: #{lighten($red, 15)};
  --syntax-teal: #{lighten($yellow, 15)};
  --syntax-teal-dark: #{lighten($yellow, 25)};
  --syntax-navy: #{lighten($navy, 35)};
  --syntax-orange: #{lighten($red, 15)};
}

@mixin reverse-section() {
  background-color: var(--reverse-background-color);
  color: var(--reverse-text-color);
  --highlight: var(--reverse-highlight);
}
