$light-gray: #f5f5f5;

$magenta: #f731f7;
$cyan: #00ffff;
$green: #09ea09;
$yellow: #f5f045;
$orange: #fc9219;
$red: #ed1b10;

$white: #ffffff;
$black: #000000;
$transparent-white: rgba(255, 255, 255, 0);
$transparent-black: rgba(0, 0, 0, 0);
$shadow-1-color: rgba(0, 0, 0, 0.2);
$shadow-2-color: rgba(0, 0, 0, 0.1);

$syntax-purple: darken($magenta, 20);
$syntax-green: darken($green, 20);
$syntax-red: $red;
$syntax-salmon: darken($orange, 20);
$syntax-red-error: $red;
$syntax-teal: darken($cyan, 10);
$syntax-teal-dark: darken($cyan, 20);
$syntax-navy: #000080;
$syntax-orange: darken($orange, 10);

$accent-color: $magenta;
$highlight: $yellow;

$text-color-light: #222;
$text-color-secondary-light: #666;
$background-color-light: $white;

$text-color-dark: #eee;
$text-color-secondary-dark: #bbb;
$background-color-dark: #222;


:root {
  --text-color: #{$text-color-light};
  --secondary-text-color: #{$text-color-secondary-light};
  --background-color: #{$background-color-light};
  --background-color-transparent: #{rgba($background-color-light, 0)};

  --highlight: #{$highlight};
  --accent-color: #{$accent-color};

  --shadow-color-1: rgba(0, 0, 0, 0.2);
  --shadow-color-2: rgba(0, 0, 0, 0.1);
  --shadow-color-transparent: rgba(0, 0, 0, 0);

  --syntax-purple: #{$syntax-purple};
  --syntax-green: #{$syntax-green};
  --syntax-red: #{$syntax-red};
  --syntax-salmon: #{$syntax-salmon};
  --syntax-red-error: #{$syntax-red-error};
  --syntax-teal: #{$syntax-teal};
  --syntax-teal-dark: #{$syntax-teal-dark};
  --syntax-navy: #{$syntax-navy};
  --syntax-orange: #{$syntax-orange};
}

html[data-dark] {
  --text-color: #{$text-color-dark};
  --secondary-text-color: #{$text-color-secondary-dark};
  --background-color: #{$background-color-dark};
  --background-color-transparent: #{rgba($background-color-dark, 0)};

  --highlight: #{$highlight};
  --accent-color: #{lighten($accent-color, 15)};

  --shadow-color-1: rgba(255, 255, 255, 0.3);
  --shadow-color-2: rgba(255, 255, 255, 0.2);
  --shadow-color-transparent: rgba(255, 255, 255, 0);
  --syntax-purple: #{lighten($syntax-purple, 15)};
  --syntax-green: #{lighten($syntax-green, 15)};
  --syntax-red: #{lighten($syntax-red, 15)};
  --syntax-salmon: #{lighten($syntax-salmon, 15)};
  --syntax-red-error: #{lighten($syntax-red-error, 15)};
  --syntax-teal: #{lighten($syntax-teal, 15)};
  --syntax-teal-dark: #{lighten($syntax-teal-dark, 15)};
  --syntax-navy: #{lighten($syntax-navy, 15)};
  --syntax-orange: #{lighten($syntax-orange, 15)};
}
