@mixin delicate {
  color: var(--secondary-text-color);
}

@mixin post-meta {
  @include delicate;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $gap-small;
  font-size: $font-size-small;

  .tags {
    // cannot use flex and gap due to commas outside of links
    a:not(:first-child) {
      margin-left: 0.25em;
    }
  }
}

@mixin shadow {
  // TODO: rename to box?
  border: 1px solid var(--shadow-color-2);
}

@mixin button_reset {
  background: none;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0;

  &:active {
    color: inherit;
  }
}

@mixin ellipsis_for_overflow($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @if ($lines > 1) {
    @supports (-webkit-line-clamp: $lines) {
      display: -webkit-box;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
      white-space: normal;
      word-break: break-word;
    }
  }
}
