@mixin delicate {
  color: var(--secondary-text-color);
}

@mixin post-meta {
  @include delicate;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $gap-small;
  font-size: $font-size-small;

  .tags {
    // cannot use flex and gap due to commas outside of links
    a:not(:first-child) {
      margin-left: 0.25em;
    }
  }
}

@mixin shadow {
  box-shadow: 2px 2px 0 2px var(--shadow-color-1), -1px -1px 0 1px var(--shadow-color-2);
}

@mixin button_reset {
  background: none;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0;

  &:active {
    color: inherit;
  }
}
