code {
  font-family: $code-font-family;
  font-size: $font-size-code;
}

*:not(.highlight) {
  > code {
    padding: 0 $gap-tiny;
    font-size: 0.9em;
    word-wrap: break-word;
  }
}

.highlight {
  table {
    @include shadow();
    width: 100%;
    table-layout: fixed;
    margin: $gap-medium 0 $gap-big 0;
    padding: rem-calc(10);
    background-color: transparent;
    border: none;

    td, tr:nth-child(n), th {
      background-color: transparent;
      border: none;
    }
  }

  .rouge-code {
    pre {
      overflow-x: auto;
    }
  }

  .rouge-gutter {
    width: 42px;
    text-align: right;
    border-right: 1px solid var(--shadow-color-2);
  }
}

.highlight {
  .hll {
    background-color: var(--inner-outer-background-color);
  }

  .c {
    color: var(--syntax-green);
  }

  .err {
    color: var(--syntax-red-error);
    background-color: var(--inner-outer-background-color);
  }

  .k {
    color: var(--syntax-purple);
    font-weight: bold;
  }

  .ch, .cm {
    color: var(--syntax-green);
  }

  .cp {
    color: var(--syntax-teal);
  }

  .cpf, .c1 {
    color: var(--syntax-green);
  }

  .cs {
    color: var(--syntax-purple);
    font-weight: bold;
  }

  .gd {
    color: var(--syntax-red);
  }

  .ge {
    font-style: italic;
  }

  .gr {
    color: var(--syntax-red);
  }

  .gh {
    color: var(--syntax-navy);
    font-weight: bold;
  }

  .gi {
    color: var(--syntax-green);
  }

  .go {
    color: var(--secondary-text-color);
  }

  .gp {
    color: var(--secondary-text-color);
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: var(--syntax-purple);
    font-weight: bold;
  }

  .gt {
    color: var(--syntax-red);
  }

  .kc, .kd, .kn, .kp, .kr {
    color: var(--syntax-purple);
    font-weight: bold;
  }

  .kt {
    color: var(--secondary-text-color);
    font-weight: bold;
  }

  .m {
    color: var(--syntax-purple);
  }

  .s {
    color: var(--syntax-salmon);
  }

  .na, .nb {
    color: var(--syntax-green);
  }

  .nc {
    color: var(--syntax-green);
    font-weight: bold;
  }

  .no {
    color: var(--syntax-teal-dark);
  }

  .nd {
    color: var(--secondary-text-color);
  }

  .ne {
    color: var(--syntax-green);
    font-weight: bold;
  }

  .nf {
    color: var(--syntax-green);
  }

  .nn {
    color: var(--syntax-green);
    text-decoration: underline;
  }

  .nt {
    color: var(--syntax-purple);
    font-weight: bold;
  }

  .nv {
    color: var(--syntax-teal-dark);
  }

  .ow {
    color: var(--syntax-purple);
  }

  .w {
    color: var(--secondary-text-color);
  }

  .mb, .mf, .mh, .mi, .mo {
    color: var(--syntax-purple);
  }

  .sb, .sc, .sd, .s2, .se {
    color: var(--syntax-salmon);
  }

  .sh {
    color: var(--syntax-teal);
    font-style: italic;
  }

  .si {
    color: var(--syntax-salmon);
  }

  .sx {
    color: var(--syntax-orange);
  }

  .sr {
    color: var(--syntax-teal);
  }

  .s1, .ss {
    color: var(--syntax-salmon);
  }

  .bp {
    color: var(--syntax-green);
  }

  .vc, .vg, .vi {
    color: var(--syntax-teal-dark);
  }

  .il {
    color: var(--syntax-purple);
  }
}

