$code-font-family: 'Roboto Mono', Courier, monospace;

code {
  font-family: $code-font-family;
}

*:not(.highlight) {
  > code {
    padding: 0 $tiny-gap;
    border: rem-calc(1) solid darken($background-color, 5);
    background-color: $white;
  }
}

.highlight {
  overflow: hidden;
  margin: rem-calc(20) 0;
  padding: rem-calc(10);
  border: rem-calc(1) solid darken($background-color, 5);
  background-color: $white;
}

.highlight {
  .c { color: $medium-gray } // Comment
  .err { color: $black } // Error
  .g { color: $black } // Generic
  .k { color: $black; font-weight: bold; } // Keyword
  .l { color: $black } // Literal
  .n { color: $black } // Name
  .o { color: $black } // Operator
  .x { color: $pink } // Other
  .p { color: $black } // Punctuation
  .cm { color: $medium-gray; } // Comment.Multiline
  .cp { color: $medium-gray; } // Comment.Preproc
  .c1 { color: $medium-gray; } // Comment.Single
  .cs { color: $medium-gray; } // Comment.Special
  .gd { color: $teal } // Generic.Deleted
  .ge { color: $black; font-style: italic } // Generic.Emph
  .gr { color: $pink } // Generic.Error
  .gh { color: $pink } // Generic.Heading
  .gi { color: $pink; font-weight: bold; } // Generic.Inserted
  .go { color: $black } // Generic.Output
  .gp { color: $black } // Generic.Prompt
  .gs { color: $black; font-weight: bold } // Generic.Strong
  .gu { color: $pink } // Generic.Subheading
  .gt { color: $black } // Generic.Traceback
  .kc { color: $pink } // Keyword.Constant
  .kd { color: $pink } // Keyword.Declaration
  .kn { color: $pink; font-weight: bold; } // Keyword.Namespace
  .kp { color: $pink; font-weight: bold; } // Keyword.Pseudo
  .kr { color: $pink } // Keyword.Reserved
  .kt { color: $pink } // Keyword.Type
  .ld { color: $black } // Literal.Date
  .m { color: $teal } // Literal.Number
  .s { color: $teal } // Literal.String
  .na { color: $black } // Name.Attribute
  .nb { color: $pink; font-weight: bold; } // Name.Builtin
  .nc { color: $pink } // Name.Class
  .no { color: $pink } // Name.Constant
  .nd { color: $pink } // Name.Decorator
  .ni { color: $pink } // Name.Entity
  .ne { color: $pink; } // Name.Exception
  .nf { color: $navy; font-weight: bold; } // Name.Function
  .nl { color: $black } // Name.Label
  .nn { color: $black } // Name.Namespace
  .nx { color: $black } // Name.Other
  .py { color: $black } // Name.Property
  .nt { color: $pink } // Name.Tag
  .nv { color: $pink } // Name.Variable
  .ow { color: $pink; font-weight: bold; } // Operator.Word
  .w { color: $black } // Text.Whitespace
  .mf { color: $teal } // Literal.Number.Float
  .mh { color: $teal } // Literal.Number.Hex
  .mi { color: $teal } // Literal.Number.Integer
  .mo { color: $teal } // Literal.Number.Oct
  .sb { color: $teal } // Literal.String.Backtick
  .sc { color: $teal } // Literal.String.Char
  .sd { color: $black } // Literal.String.Doc
  .s2 { color: $medium-gray } // Literal.String.Double
  .se { color: $medium-gray } // Literal.String.Escape
  .sh { color: $black } // Literal.String.Heredoc
  .si { color: $medium-gray } // Literal.String.Interpol
  .sx { color: $medium-gray } // Literal.String.Other
  .sr { color: $teal } // Literal.String.Regex
  .s1 { color: $medium-gray } // Literal.String.Single
  .ss { color: $teal } // Literal.String.Symbol
  .bp { color: $pink } // Name.Builtin.Pseudo
  .vc { color: $pink } // Name.Variable.Class
  .vg { color: $pink } // Name.Variable.Global
  .vi { color: $pink } // Name.Variable.Instance
  .il { color: $teal } // Literal.Number.Integer.Long
}
