$header-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$paragraph-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$code-font-family: 'Roboto Mono', Courier, monospace;

@mixin fake-highlight-underline {
  border-bottom: 4px solid var(--highlight);
}

::selection {
  background: var(--highlight);
}

html {
  font-size: $rem-base;
}

body {
  font-family: $paragraph-font-family;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}

q {
  font-style: italic;
}

sup {
  font-size: 80%;
  vertical-align: top;
}

sub {
  font-size: 80%;
  vertical-align: bottom;
}

mark {
  color: var(--text-color);
  background-color: var(--highlight);
}

blockquote {
  @include shadow();
  position: relative;
  padding: $tiny-gap $tiny-gap $tiny-gap $big-gap + $small-gap;

  &::before{
    content: "\201C";
    font-family: Georgia, serif;
    font-weight: bold;
    color: var(--accent-color);
    position: absolute;
    left: $tiny-gap;
    top: 0;
    margin-top: -1 * $tiny-gap;
    font-size: 2em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: bold;
}

p, ul, ol, blockquote {
  margin-bottom: $big-gap;
}

ul ol, ul ul, ol ol, ol ul {
  margin-bottom: 0;
}

li {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: $big-gap + $medium-gap 0 $medium-gap;
  font-family: $header-font-family;
  font-weight: bold;
  overflow-wrap: break-word;
}

h1 { font-size: $h1-font-size; line-height: 1.4; }
h2 { font-size: $h2-font-size; line-height: 1.4; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

ul {
  padding-left: 1em;
}

ol {
  padding-left: 2em;
  list-style: decimal;

  ol {
    list-style: lower-alpha;
  }
}
