$page-max-width: rem-calc(750);

$huge-gap: rem-calc(64);
$big-gap: rem-calc(32);
$medium-gap: rem-calc(16);
$small-gap: rem-calc(8);
$tiny-gap: rem-calc(4);

$h1-font-size: rem-calc(36);
$h2-font-size: rem-calc(30);
$h3-font-size: rem-calc(26);
$h4-font-size: rem-calc(22);
$h5-font-size: rem-calc(20);
$h6-font-size: rem-calc(18);

$code-font-size: rem-calc(14);

$small-font-size: rem-calc(16);

// "notepad" margin
$margin-width: 50px;
