$page-max-width: rem-calc(750);

$gap-huge: rem-calc(64);
$gap-big: rem-calc(32);
$gap-medium: rem-calc(16);
$gap-small: rem-calc(8);
$gap-tiny: rem-calc(4);

$font-size-h1: rem-calc(36);
$font-size-h2: rem-calc(30);
$font-size-h3: rem-calc(26);
$font-size-h4: rem-calc(22);
$font-size-h5: rem-calc(20);
$font-size-h6: rem-calc(18);

$font-size-code: rem-calc(14);

$font-size-small: rem-calc(16);
