.about {
  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: $medium-gap;
    grid-column-gap: $medium-gap;

    @media #{$medium} {
      grid-template-columns: auto auto;
    }
  }

  .column-image {
    width: 250px;
  }

  .social-links {
    display: block;
    margin-bottom: $small-gap;
    text-align: center;

    a {
      padding: 0 $small-gap;

      &:before {
        font-size: $h3-font-size;
      }
    }

    svg {
      height: $h3-font-size;
      width: 0.8 * $h1-font-size;
    }
  }

  .portrait {
    display: block;
  }

  .list {
    li {
      display: flex;
      margin-bottom: $small-gap;
    }

    a {
      text-decoration: underline;
    }

    .list-item {
      display: inline-flex;
      flex-direction: column;
    }

    .date {
      @include delicate;
      font-size: $small-font-size;
    }
  }

  .contact-email {
    display: inline-block;
    max-width: 200px;

    svg {
      vertical-align: middle;

      path {
        fill: var(--text-color);

        &.at {
          fill: var(--accent-color);
        }
      }
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: $medium-gap;

    &.poland {
      max-width: 450px;
    }

    &.cow {
      max-width: 350px;
    }

    &.wave {
      max-width: 200px;
    }
  }
}
