.about {
  .social-links {
    display: block;
    margin-bottom: $small-gap;
    text-align: center;

    a {
      padding: 0 $small-gap;

      &:before {
        font-size: $h1-font-size;
      }
    }

    svg {
      height: $h1-font-size;
      width: 0.8 * $h1-font-size;
    }
  }

  .avatar {
    display: block;
    width: 200px;
    height: 200px;
    margin: $huge-gap auto;
    border-radius: 50%;
  }
}