---
import { Image } from "astro:assets";

type Props = {
  image: ImageMetadata;
  alt: string;
  caption: string;
  relativeMaxWidth: number;
};

const { image, alt, caption, relativeMaxWidth = 1 } = Astro.props;

const contentMaxWidth = 750;
---

<figure>
  <a href={image.src}>
    <Image
      width={Math.min(image.width * relativeMaxWidth, contentMaxWidth * relativeMaxWidth)}
      src={image}
      alt={alt}
    />
  </a>
  <figcaption>
    {caption}
  </figcaption>
</figure>
