---
import Avatar from "@assets/avatar.jpg";
import { Image } from "astro:assets";

type Props = {
  image: typeof Avatar;
  alt: string;
  caption?: string;
  relativeMaxWidth?: number;
};

const { image, alt, caption, relativeMaxWidth = 1 } = Astro.props;

const contentMaxWidth = 750;
---

<figure>
  <a href={image.src}>
    <Image
      width={Math.min(image.width * relativeMaxWidth, contentMaxWidth * relativeMaxWidth)}
      src={image}
      alt={alt}
    />
  </a>
  <figcaption>
    {!caption && Astro.slots.has("caption") && <slot name="caption" />}
    {!Astro.slots.has("caption") && caption}
  </figcaption>
</figure>
