.about {
  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: $medium-gap;
    grid-column-gap: $medium-gap;

    @media #{$medium} {
      grid-template-columns: auto auto;
    }
  }

  .column-image {
    width: 250px;
  }

  .portrait {
    display: block;
  }

  .date {
    @include delicate;
    font-size: $small-font-size;
  }

  .contact-email {
    display: inline-block;

    svg {
      width: 200px;
      vertical-align: middle;

      path {
        fill: var(--text-color);

        &.at {
          fill: var(--accent-color);
        }
      }
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: $medium-gap;

    &.poland {
      max-width: 450px;
    }

    &.cow {
      max-width: 350px;
    }

    &.wave {
      max-width: 200px;
    }
  }
}
