.about {
  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: $medium-gap;
    grid-column-gap: $medium-gap;
    align-items: start;

    @media #{$medium} {
      grid-template-columns: auto auto;
    }
  }

  .column-image {
    @include shadow();
    grid-row: 2;
    background: $white;
    padding: $medium-gap;
    margin: 0 auto;
    --text-color: $light-mode-text-color;
    color: $light-mode-text-color;

    @media #{$medium} {
      grid-row: 1;
      width: auto;
      margin-right: $medium-gap;

      img {
        width: 250px;
      }
    }

    @media #{$big} {
      margin-top: -1 * $medium-gap;
      margin-left: -1 * 3 * $big-gap;
      margin-right: $medium-gap;
      transform: rotate(-2deg);
    }
  }

  .portrait {
    display: block;
  }

  .date {
    @include delicate;
    font-size: $small-font-size;
  }

  .contact-email {
    display: inline-block;

    svg {
      width: 200px;
      vertical-align: middle;

      path {
        fill: var(--text-color);

        &.at {
          fill: var(--accent-color);
        }
      }
    }
  }
}
