.about {
  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: $gap-medium;
    grid-column-gap: $gap-medium;
    align-items: start;

    @media #{$medium} {
      grid-template-columns: auto auto;
    }
  }

  .column-image {
    @include shadow();
    grid-row: 2;
    background: $white;
    padding: $gap-medium;
    margin: 0 auto;
    --text-color: $text-color-light;
    color: $text-color-light;

    @media #{$medium} {
      grid-row: 1;
      width: auto;
      margin-right: $gap-medium;

      img {
        width: 250px;
      }
    }

    @media #{$big} {
      margin-top: -1 * $gap-medium;
      margin-left: -1 * 3 * $gap-big;
      margin-right: $gap-medium;
      transform: rotate(-2deg);
    }
  }

  .portrait {
    display: block;
  }

  .date {
    @include delicate;
    font-size: $font-size-small;
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    margin: $gap-small 0 0 0;
    padding: 0;

    $link-size: $font-size-h5;

    li {
      display: inline-block;

      &:before {
        content: none;
      }
    }

    a {
      padding: $gap-tiny;
      font-size: $link-size;
    }

    .exercism svg {
      margin-bottom: rem-calc(-2);
    }

    .exercism {
      svg {
        width: $link-size;

        path {
          fill: var(--text-color);
        }
      }
    }
  }
}
