<ul class="social-links">
  <li>
    <a href="{{ site.about.github }}" class="github" aria-label="My profile on Github" title="Github"><i aria-hidden="true" class="fa fa-github"></i></a>
  </li>
  <li>
    <a href="{{ site.about.twitter }}" class="twitter" aria-label="My profile on Twitter" title="Twitter"><i aria-hidden="true" class="fa fa-twitter"></i></a>
  </li>
  <li>
    <a href="{{ site.about.linkedin }}" class="linkedin" aria-label="My profile on LinkedIn" title="LinkedIn"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
  </li>
  <li>
    <a href="{{ site.about.exercism }}" class="exercism" aria-label="My profile on Exercism" title="Exercism">{% asset exercism %}</a>
  </li>
  <li>
    <a href="{{ site.about.dev }}" class="dev" aria-label="My profile on DEV" title="DEV.to">{% asset dev %}</a>
  </li>
</ul>
