<ul class="social-links">
  <li>
    <a href="{{ site.about.github }}" class="github" title="Github">GitHub</a>
  </li>
  <li>
    <a href="{{ site.about.twitter }}" class="twitter" title="Twitter">Twitter</a>
  </li>
  <li>
    <a href="{{ site.about.linkedin }}" class="linkedin" title="LinkedIn">LinkedIn</a>
  </li>
  <li>
    <a href="{{ site.about.exercism }}" class="exercism" title="Exercism">{% asset exercism %}</a>
  </li>
  <li>
    <a href="{{ site.about.dev }}" class="dev" title="DEV.to">{% asset dev %}</a>
  </li>
</ul>
