.footer {
  position: relative;
  @include reverse-section();

  $sin-60deg: 0.866;
  $triangle-max-width: 15px;
  $triangle-max-height: $sin-60deg * $triangle-max-width;
  $triangle-background-height: #{7 * $triangle-max-height};

  margin-top: calc(#{2 * $gap-huge} + #{$triangle-background-height});

  &:before {
    content: '';
    bottom: 100%;
    @include triangle-gradient(var(--reverse-background-color));
  }

  a {
    text-decoration: underline;
  }

  .footer-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $gap-big;
    row-gap: $gap-huge;
    padding: $gap-huge 0 $gap-huge;
    font-size: $font-size-small;

    @media #{$small} {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  h2 {
    font-size: $font-size-paragraph;
    color: var(--reverse-text-color);
    margin-top: 0;
  }

  a, p {
    color: var(--reverse-secondary-text-color);
  }

  nav {
    display: flex;
    flex-direction: column;

    a {
      padding: $gap-tiny 0;
    }
  }

  .legal {
    grid-column: 1 / 3;

    @media #{$small} {
      grid-column: 3 / 4;
    }
  }

  .triangles {
    padding: $gap-small 0 $gap-medium 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: $gap-medium;

    svg:nth-child(1) {
      width: $gap-big;
      transform: rotate(10deg);
      * { fill: var(--accent-color1); }
    }

    svg:nth-child(2) {
      width: $gap-big * 0.75;
      transform: rotate(-75deg);
      * { fill: var(--accent-color2); }
    }

    svg:nth-child(3) {
      width: $gap-big * 0.5;
      transform: rotate(15deg);
      * { fill: var(--accent-color3); }
    }
  }
}
