.post {
  time {
    @include delicate;
  }

  header {
    margin-bottom: $gap-big;

    h1 {
      margin-top: 0;
      margin-bottom: $gap-small;
    }
  }

  #disqus_thread {
    margin-top: $gap-huge;
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
  }

  .header-link {
    display: none;
    position: absolute;
    right: 100%;
    top: 0; // can't be vertically centered due to multiline headers (must stick to first line)
    padding-right: $gap-small;
    z-index: 10;

    a {
      font-size: $font-size-small;
      vertical-align: middle;
      padding: 0 $gap-small;
      opacity: 0;
      color: var(--accent-color);
      transition: all $transition-duration ease;
    }
  }

  @media #{$medium} {
    .header-link {
      display: block;

      a:focus {
        opacity: 1;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      &:hover .header-link a {
        opacity: 1;
      }
    }
  }

  ul.notes {
    margin-top: $gap-huge;
    list-style: decimal;
    font-size: 80%;
  }

  footer {
    @include reverse-section();
    margin: $gap-huge calc(-1 * var(--page-padding-left));
    padding: 0 var(--page-padding-left);
  }

  .coffee {
    @include reverse-section();
    width: var(--pulled-out-block-width);
    margin: 0 var(--pulled-out-block-margin-right) 0 var(--pulled-out-block-margin-left);
    padding: $gap-big calc(-1 * var(--pulled-out-block-margin-right)) $gap-big calc(-1 * var(--pulled-out-block-margin-left));
    position: relative;

    h2 {
      font-size: $font-size-h5;
      margin-top: 0;
    }

    p {
      font-size: $font-size-h6;
      margin-bottom: 0;
    }

    p .fas {
      margin-left: 0.25em;
    }

    a {
      text-decoration: underline;
    }

    .triangles {
      svg:nth-child(1) {
        position: absolute;
        top: -0.5 * $gap-huge * 0.75;
        left: 0;
        width: $gap-huge * 0.75;
        transform: rotate(15deg);
        * { fill: var(--accent-color2); }

        @media #{$medium} {
          left: -0.25 * $gap-huge;
        }
      }

      svg:nth-child(2) {
        position: absolute;
        top: -0.5 * $gap-huge * 0.5;
        left: $gap-huge;
        width: $gap-huge * 0.5;
        transform: rotate(-52deg);
        * { fill: var(--accent-color3); }

        @media #{$medium} {
          left: 0.5 * $gap-huge;
        }
      }

      svg:nth-child(3) {
        position: absolute;
        bottom: -0.25 * $gap-huge;
        right: -0.25 * $gap-big;
        width: $gap-huge;
        transform: rotate(72deg);
        * { fill: var(--accent-color1); }

        @media #{$medium} {
          right: -0.25 * $gap-big;
        }

        @media #{$big} {
          right: -1.5 * $gap-huge;
        }

        @media #{$very-big} {
          right: -0.5 * $gap-huge;
        }
      }
    }
  }
}

.post-meta {
  @include post-meta;
}

.disqus-info {
  background-color: var(--background-color);
  padding: $gap-medium 0;

  > *:first-child {
    margin-top: 0;
  }

  .question {
    font-weight: bold;
  }

  .answer button {
    @include inline-link();
    background: none;
    font: inherit;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
  }
}
