@import 'utils/font-awesome',
'utils/reset',
'utils/media-queries',
'utils/functions',
'utils/colors',
'utils/variables',
'utils/mixins',
'utils/typography';

:root, body, .post-og-image {
  font-size: 30px;
}

.post-og-image {
  position: relative;

  .post {
    padding: $gap-big;
    width: 1200px;
    height: 630px;
    display: grid;
    grid-template-rows: auto auto 1fr;
  }

  .date {
    font-size: $font-size-h6;
  }

  .post-meta {
    font-size: $font-size-paragraph;
  }

  .portrait {
    position: absolute;
    bottom: $gap-big;
    left: $gap-big;
    img {
      display: block;
      border-radius: 50%;
    }
  }

  h1 {
    @include ellipsis_for_overflow(3);
    font-size: $font-size-h2;
  }

  .logo {
    display: flex;
    width: calc(100% + #{2 * $gap-big});
    padding-left: $gap-big;
    margin-left: -1 * $gap-big;
    padding-right: $gap-big;
    margin-right: -1 * $gap-big;
    margin-bottom: $gap-medium;
    gap: $gap-big;
    align-items: flex-end;
    justify-content: space-between;

    svg {
      display: block;
      width: 2rem;
    }
  }

  .page-title {
    font-size: $font-size-h6;
    font-weight: bold;
    font-family: $header-font-family;
  }

  header {
    margin-bottom: 0;
  }

  .triangles {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: $gap-medium;
    align-self: flex-end;
    align-items: flex-end;

    svg:nth-child(1) {
      width: $gap-huge * 0.75;
      transform: rotate(var(--triangle-rotation-1));

      * {
        fill: var(--triangle-color-1);
      }
    }

    svg:nth-child(2) {
      width: $gap-huge * 0.5;
      transform: rotate(var(--triangle-rotation-2));

      * {
        fill: var(--triangle-color-2);
      }
    }

    svg:nth-child(3) {
      width: $gap-huge * 0.25;
      transform: rotate(var(--triangle-rotation-3));

      * {
        fill: var(--triangle-color-3);
      }
    }
  }

  &.post-og-image-variant-0 {
    --triangle-color-1: #{$yellow};
    --triangle-color-2: #{$orange};
    --triangle-color-3: #{$red};

    --triangle-rotation-1: 10deg;
    --triangle-rotation-2: -27deg;
    --triangle-rotation-3: 72deg;
  }

  &.post-og-image-variant-1 {
    --triangle-color-1: #{$yellow};
    --triangle-color-2: #{$blue};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: 34deg;
    --triangle-rotation-2: 10deg;
    --triangle-rotation-3: -33deg;
  }

  &.post-og-image-variant-2 {
    --triangle-color-1: #{$purple};
    --triangle-color-2: #{$blue};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: 56deg;
    --triangle-rotation-2: 23deg;
    --triangle-rotation-3: -4deg;
  }

  &.post-og-image-variant-3 {
    --triangle-color-1: #{$green};
    --triangle-color-2: #{$blue};
    --triangle-color-3: #{$purple};

    --triangle-rotation-1: 0deg;
    --triangle-rotation-2: -45deg;
    --triangle-rotation-3: 76deg;
  }

  &.post-og-image-variant-4 {
    --triangle-color-1: #{$green};
    --triangle-color-2: #{$blue};
    --triangle-color-3: #{$red};

    --triangle-rotation-1: 20deg;
    --triangle-rotation-2: -56deg;
    --triangle-rotation-3: 0deg;
  }

  &.post-og-image-variant-5 {
    --triangle-color-1: #{$green};
    --triangle-color-2: #{$blue};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: -30deg;
    --triangle-rotation-2: 13deg;
    --triangle-rotation-3: -33deg;
  }

  &.post-og-image-variant-6 {
    --triangle-color-1: #{$blue};
    --triangle-color-2: #{$yellow};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: 13deg;
    --triangle-rotation-2: -30deg;
    --triangle-rotation-3: 78deg;
  }

  &.post-og-image-variant-7 {
    --triangle-color-1: #{$orange};
    --triangle-color-2: #{$purple};
    --triangle-color-3: #{$yellow};

    --triangle-rotation-1: 4deg;
    --triangle-rotation-2: -50deg;
    --triangle-rotation-3: -14deg;
  }

  &.post-og-image-variant-8 {
    --triangle-color-1: #{$green};
    --triangle-color-2: #{$purple};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: 15deg;
    --triangle-rotation-2: 30deg;
    --triangle-rotation-3: 45deg;
  }

  // MONOCOLORS ******************************************************************************************

  &.post-og-image-variant-9 {
    --triangle-color-1: #{$purple};
    --triangle-color-2: #{$purple};
    --triangle-color-3: #{$purple};

    --triangle-rotation-1: 4deg;
    --triangle-rotation-2: -50deg;
    --triangle-rotation-3: -14deg;
  }

  &.post-og-image-variant-10 {
    --triangle-color-1: #{$blue};
    --triangle-color-2: #{$blue};
    --triangle-color-3: #{$blue};

    --triangle-rotation-1: 4deg;
    --triangle-rotation-2: -50deg;
    --triangle-rotation-3: -14deg;
  }

  &.post-og-image-variant-11 {
    --triangle-color-1: #{$green};
    --triangle-color-2: #{$green};
    --triangle-color-3: #{$green};

    --triangle-rotation-1: 4deg;
    --triangle-rotation-2: -50deg;
    --triangle-rotation-3: -14deg;
  }

  &.post-og-image-variant-12 {
    --triangle-color-1: #{$yellow};
    --triangle-color-2: #{$yellow};
    --triangle-color-3: #{$yellow};

    --triangle-rotation-1: 4deg;
    --triangle-rotation-2: -50deg;
    --triangle-rotation-3: -14deg;
  }

  &.post-og-image-variant-13 {
    --triangle-color-1: #{$yellow};
    --triangle-color-2: #{$yellow};
    --triangle-color-3: #{$yellow};

    --triangle-rotation-1: 4deg;
    --triangle-rotation-2: -50deg;
    --triangle-rotation-3: -14deg;
  }

  &.post-og-image-variant-14 {
    --triangle-color-1: #{$orange};
    --triangle-color-2: #{$orange};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: 4deg;
    --triangle-rotation-2: -50deg;
    --triangle-rotation-3: -14deg;
  }

  &.post-og-image-variant-15 {
    --triangle-color-1: #{$orange};
    --triangle-color-2: #{$orange};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: 4deg;
    --triangle-rotation-2: -50deg;
    --triangle-rotation-3: -14deg;
  }

  // PAIRS ******************************************************************************************

  &.post-og-image-variant-16 {
    --triangle-color-1: #{$orange};
    --triangle-color-2: #{$blue};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: 13deg;
    --triangle-rotation-2: -30deg;
    --triangle-rotation-3: 78deg;
  }

  &.post-og-image-variant-17 {
    --triangle-color-1: #{$yellow};
    --triangle-color-2: #{$purple};
    --triangle-color-3: #{$yellow};

    --triangle-rotation-1: 13deg;
    --triangle-rotation-2: -30deg;
    --triangle-rotation-3: 78deg;
  }

  &.post-og-image-variant-18 {
    --triangle-color-1: #{$green};
    --triangle-color-2: #{$purple};
    --triangle-color-3: #{$green};

    --triangle-rotation-1: 13deg;
    --triangle-rotation-2: -30deg;
    --triangle-rotation-3: 78deg;
  }


  &.post-og-image-variant-19 {
    --triangle-color-1: #{$blue};
    --triangle-color-2: #{$purple};
    --triangle-color-3: #{$blue};

    --triangle-rotation-1: 13deg;
    --triangle-rotation-2: -30deg;
    --triangle-rotation-3: 78deg;
  }

  &.post-og-image-variant-20 {
    --triangle-color-1: #{$purple};
    --triangle-color-2: #{$blue};
    --triangle-color-3: #{$purple};

    --triangle-rotation-1: 13deg;
    --triangle-rotation-2: -30deg;
    --triangle-rotation-3: 78deg;
  }

  &.post-og-image-variant-21 {
    --triangle-color-1: #{$blue};
    --triangle-color-2: #{$red};
    --triangle-color-3: #{$blue};

    --triangle-rotation-1: 13deg;
    --triangle-rotation-2: -30deg;
    --triangle-rotation-3: 78deg;
  }


  &.post-og-image-variant-22 {
    --triangle-color-1: #{$orange};
    --triangle-color-2: #{$red};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: 13deg;
    --triangle-rotation-2: -30deg;
    --triangle-rotation-3: 78deg;
  }

  &.post-og-image-variant-23 {
    --triangle-color-1: #{$orange};
    --triangle-color-2: #{$green};
    --triangle-color-3: #{$orange};

    --triangle-rotation-1: 13deg;
    --triangle-rotation-2: -30deg;
    --triangle-rotation-3: 78deg;
  }
}
