@import 'utils/font-awesome',
'utils/reset',
'utils/functions',
'utils/colors',
'utils/variables',
'utils/media-queries',
'utils/mixins',
'utils/typography',
'utils/base',
'utils/syntax',

'components/dot',
'components/figure',
'components/footer',
'components/kbd',
'components/list',
'components/nav',
'components/post',
'components/post_aside',
'components/post_preview',
'components/social_links',
'components/table',
'components/tags',
'components/decorative_scribbles',

'pages/about',
'pages/404';

// fancy triangles in the corner
body {
  $size: 20px;
  $line-width: 1px;
  $line-color: var(--notepad-lines);
  background-image: linear-gradient($transparent-white #{$size - $line-width}, $line-color #{$size - $line-width}, $line-color $size),
  linear-gradient(90deg, $transparent-white #{$size - $line-width}, $line-color #{$size - $line-width}, $line-color $size);
  background-size: $size $size;
  background-repeat: repeat;

  @media #{$big} {
    &:before {
      content: '';
      position: fixed;
      overflow: hidden;
      top: 0;
      bottom: 0;
      right: 0;
      width: 60px;
      background-repeat: no-repeat;
      background-image: linear-gradient(90deg, $transparent-white 1px, rgba($notepad-red, 0.8) 1px, rgba($notepad-red, 0.8) 3px, $transparent-white 3px, $transparent-white $margin-width);
    }
  }
}
