---
layout: default
title: Blog
path: blog
pagination:
  enabled: true
---

{% include posts.html posts=paginator.posts %}

{% if paginator.total_pages > 1 %}
<nav aria-label="pagination" class="pagination">
  {% if paginator.previous_page %}
  <a class="pagination-prev" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
    Previous page
  </a>
  {% endif %}

  <span class="pagination-current">
    Page {{ paginator.page }} out of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
  <a class="pagination-next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">
    Next page
  </a>
  {% endif %}
</nav>
{% endif %}
