$white: #ffffff;
$light-gray: #f9f9f9;
$medium-gray: #808080;
$blue: #b5d0eb;
$pink: #ba0f86;
$purple-pink: #7e3480;
$navy: #394079;
$black: #000000;
$teal: #2AA198;

$background-color: $light-gray;
$text-color: $black;
$anchor-color: $pink;