@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition {
  transition: all 0.2s ease;
}

@mixin delicate {
  color: var(--secondary-text-color);
}

@mixin post-meta {
  @include clearfix;
  @include delicate;

  margin-bottom: $small-gap;
  font-size: $small-font-size;

  .tags {
    a:not(:first-child) {
      margin-left: $tiny-gap;
    }
  }
}
