@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition {
  transition: all 0.2s ease;
}

@mixin delicate {
  color: var(--secondary-text-color);
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin dot {
  margin: 0 $big-gap;
  content: '\00b7';
}

@mixin post-meta {
  @include clearfix;
  @include delicate;

  margin-bottom: $small-gap;
  font-size: $small-font-size;

  .date {
    &:after {
      @include dot;
    }
  }

  .tags {
    a:not(:first-child) {
      margin-left: $tiny-gap;
    }
  }
}
