@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition {
  transition: all 0.2s ease;
}

@mixin delicate {
  color: var(--secondary-text-color);
}

@mixin post-meta {
  @include clearfix;
  @include delicate;

  margin-bottom: $small-gap;
  font-size: $small-font-size;

  .tags {
    a:not(:first-child) {
      margin-left: $tiny-gap;
    }
  }
}

@mixin fancy-gradient() {
  background: linear-gradient(90deg, var(--gradient-color-start) 0%, var(--gradient-color-end) 80%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}
