$header-font-family: 'Montserrat', sans-serif;
$paragraph-font-family: 'Open Sans', sans-serif;
$code-font-family: 'Roboto Mono', Courier, monospace;

html {
  font-size: $rem-base;
}

body {
  font-family: $paragraph-font-family;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}

q {
  font-style: italic;
}

blockquote {
  background: $light-gray;
  border-radius: 8px;
  font-style: italic;
  position: relative;
  padding: $tiny-gap $tiny-gap $tiny-gap $big-gap + $small-gap;

  &::before{
    content: "\201C";
    font-family: Georgia, serif;
    font-weight: bold;
    color: $accent-color;
    position: absolute;
    left: $tiny-gap;
    top: 0;
    margin-top: -1 * $tiny-gap;
    font-size: 2em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: bold;
}

p, ul, ol, blockquote {
  margin-bottom: $medium-gap;
}

li {
  ul, li {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: $big-gap 0 $medium-gap;
  font-family: $header-font-family;
  font-weight: 400;
  overflow-wrap: break-word;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

ul {
  padding-left: 1em;

  li {
    &:before {
      @include dot;

      margin: 0 0.5em;
    }
  }
}

ol {
  padding-left: 2em;
  list-style: decimal;
}
