$header-font-family: 'Roboto Slab', serif;
$paragraph-font-family: 'Roboto', sans-serif;

html {
  font-size: $rem-base;
}

body {
  font-family: $paragraph-font-family;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
  color: $navy;
}

strong {
  font-weight: bold;
  color: $navy;
}

p, ul, ol {
  margin-bottom: $medium-gap;
}

li {
  ul, li {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: $big-gap 0 $medium-gap;
  font-family: $header-font-family;
  font-weight: 400;  }

h1 { font-size: $h1-font-size; text-align: center; color: $pink; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

ul {
  padding-left: 1em;

  li {
    &:before {
      @include bullet;

      margin-right: 0.5em;
    }
  }
}

ol {
  padding-left: 2em;
  list-style: decimal;
}