$header-font-family: 'Montserrat', sans-serif;
$paragraph-font-family: 'Open Sans', sans-serif;
$code-font-family: 'Roboto Mono', Courier, monospace;

html {
  font-size: $rem-base;
}

body {
  font-family: $paragraph-font-family;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}

q {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p, ul, ol {
  margin-bottom: $medium-gap;
}

li {
  ul, li {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: $big-gap 0 $medium-gap;
  font-family: $header-font-family;
  font-weight: 400;
  word-break: break-all;
}

h1 { font-size: $h1-font-size; text-align: center; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

ul {
  padding-left: 1em;

  li {
    &:before {
      @include dot;

      margin: 0 0.5em;
    }
  }
}

ol {
  padding-left: 2em;
  list-style: decimal;
}