$huge-gap: rem-calc(50);
$big-gap: rem-calc(25);
$medium-gap: rem-calc(15);
$small-gap: rem-calc(10);
$tiny-gap: rem-calc(5);

$h1-font-size: rem-calc(36);
$h2-font-size: rem-calc(30);
$h3-font-size: rem-calc(26);
$h4-font-size: rem-calc(24);
$h5-font-size: rem-calc(20);
$h6-font-size: rem-calc(18);

$small-font-size: rem-calc(14);