nav {
  margin-top: $big-gap;
  text-align: center;

  ul {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      &:before {
        margin: 0 $small-gap;
      }

      &:first-child {
        &:before {
          content: none;
        }
      }

      a {
        padding: $tiny-gap;
        color: inherit;

        &:hover,
        &:active {
          border-bottom: rem-calc(3) solid $white;
        }
      }
    }
  }
}