figure {
  margin-bottom: $medium-gap;
  text-align: center;

  figcaption {
    color: $medium-gray;
    font-size: $small-font-size;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  .half-width {
    max-width: 50%;
  }
}