footer {
  position: relative;
  margin-top: $huge-gap;
  padding: $medium-gap 0;
  font-size: $small-font-size;
  text-align: center;

  .copyright {
    margin: 0 $huge-gap;
  }

  .side-links {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .rss {
    font-size: 0;

    &:before {
      @include fa-icon;

      content: $fa-var-rss;
      padding: 0 $small-gap;
      vertical-align: middle;
      font-size: $h5-font-size;
    }
  }
}