nav {
  font-family: $header-font-family;
  margin-top: $medium-gap;
  margin-bottom: $big-gap;

  @media #{$small} {
    margin-bottom: $huge-gap;
    display: flex;
    justify-content: space-between;
  }

  header {
    font-size: $h1-font-size;
    font-weight: 700;
    margin-bottom: $medium-gap;

    @media #{$small} {
      text-align: left;
      margin-bottom: 0;
    }

    em {
      @include fancy-gradient();
      font-style: normal;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    @media #{$small} {
      text-align: right;
    }

    li {
      display: inline-block;

      &:first-child {
        &:before {
          content: none;
        }
      }

      a {
        position: relative;
        padding: $tiny-gap;
        color: var(--secondary-text-color);
      }

      h1 {
        font-size: inherit;
        font-weight: inherit;
        margin: inherit;
        font-family: inherit;
        display: inline-block;
      }

      .current-location {
        font-weight: bold;
      }
    }
  }
}
