nav {
  margin-top: $medium-gap;
  margin-bottom: $huge-gap;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 $small-gap;

      &:first-child {
        &:before {
          content: none;
        }
      }

      a {
        position: relative;
        padding: $tiny-gap;
        color: $medium-gray;
      }
    }
  }
}