.post {
  header {
    margin-bottom: $big-gap;

    h1 {
      margin-bottom: $small-gap;
      text-align: center;
    }
  }

  #disqus_thread {
    margin-top: $huge-gap;
  }
}

.post-meta {
  @include clearfix;

  margin-bottom: $small-gap;
  font-size: $small-font-size;
  color: $medium-gray;

  > span {
    margin-right: $medium-gap;
    white-space: nowrap;

    &:before {
      @include fa-icon;

      margin-right: 0.5em;
    }
  }

  > span:last-child {
    margin-right: 0;
  }


  .date {
    &:before {
      content: $fa-var-calendar;
    }
  }

  .comment-count {
    &:before {
      content: $fa-var-comment;
    }
  }

  .tags {
    &:before {
      content: $fa-var-tags;
    }

    a:not(:first-child) {
      margin-left: $tiny-gap;
    }
  }
}