.post-preview {
  &:not(:last-child) {
    margin-bottom: $big-gap;
    padding-bottom: $big-gap;
    border-bottom: rem-calc(2) solid $white;
  }

  .post-preview-meta {
    @include clearfix;

    margin-bottom: $small-gap;
    font-size: rem-calc(14);

    .date {
      margin-right: $big-gap;
    }

    .tags {
      a:not(:first-child) {
        margin-left: $tiny-gap;
      }
    }
  }
}