.post {
  header {
    margin-bottom: $big-gap;

    h1 {
      margin-bottom: $small-gap;
    }
  }

  #disqus_thread {
    margin-top: $huge-gap;
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
  }

  .header-link {
    display: none;
    position: absolute;
    right: 100%;
    top: 0.3em;
    margin-right: $tiny-gap;
    opacity: 0;
    font-size: 0.7em;
    color: $medium-gray;
    z-index: 10;
  }

  @media #{$medium} {
    .header-link {
      display: block;
    }

    h1, h2, h3, h4, h5, h6 {
      &:hover .header-link {
        opacity: 1;
      }
    }
  }
}

.post-meta {
  @include post-meta;
}
