.post-preview {
  &:not(:last-child) {
    margin-bottom: $big-gap;
    padding-bottom: $big-gap;
    border-bottom: rem-calc(2) solid $white;
  }

  .post-preview-meta {
    @extend .post-meta;
  }
}