.post {
  header {
    margin-bottom: $big-gap;

    h1 {
      margin-bottom: $small-gap;
      text-align: center;
    }
  }

  #disqus_thread {
    margin-top: $huge-gap;
  }

  .header-link {
    position: relative;
    left: 0.5em;
    opacity: 0;
    font-size: 0.8em;
    color: $medium-gray;
  }

  h1, h2, h3, h4, h5, h6 {
    &:hover .header-link {
      opacity: 1;
    }
  }
}

.post-meta {
  @include clearfix;
  @include delicate;

  margin-bottom: $small-gap;
  font-size: $small-font-size;

  .date {
    &:after {
      @include dot;
    }
  }

  .tags {
    a:not(:first-child) {
      margin-left: $tiny-gap;
    }
  }
}