.social-links {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;

    &:before {
      content: none;
    }
  }

  a {
    padding: $tiny-gap;
    font-size: 0;

    &:before {
      @include fa-icon;

      font-size: $h3-font-size;
    }
  }

  .github {
    &:before {
      content: $fa-var-github;
    }
  }

  .twitter {
    &:before {
      content: $fa-var-twitter;
    }
  }

  .linkedin {
    &:before {
      content: $fa-var-linkedin;
    }
  }

  .exercism, .dev {
    svg {
      width: $h3-font-size;
      margin-bottom: rem-calc(-7);

      path {
        @include transition;

        fill: var(--text-color);
      }
    }

    &:hover,
    &:active {
      svg {
        path {
          fill: var(--accent-color);
        }
      }
    }
  }
}
