.table-wrapper {
  max-width: 100%;
  overflow: auto;
}

table {
  overflow-x: scroll;
  max-width: 100%;
  margin: 0 auto $medium-gap;
  font-family: $code-font-family;
  font-size: $code-font-size;
  background-color: var(--inner-background-color);

  th {
    font-weight: bold;
  }

  td, th {
    padding: $tiny-gap $small-gap;
  }

  tbody tr:nth-child(2n + 1) {
    td {
      background: var(--outer-background-color);
    }
  }
}
