figure {
  //width: var(--pulled-out-block-width);
  //margin: 0 var(--pulled-out-block-margin-right) $gap-big var(--pulled-out-block-margin-left);
  width: 100%;
  margin: 0 0 $gap-big 0;
  text-align: center;

  figcaption {
    color: var(--secondary-text-color);
    font-size: $font-size-small;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  .half-width {
    max-width: 50%;
  }
}
