figure {
  margin-bottom: $gap-big;
  text-align: center;

  figcaption {
    color: var(--secondary-text-color);
    font-size: $font-size-small;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  .half-width {
    max-width: 50%;
  }
}
