figure {
  width: var(--figure-width);
  margin: 0 var(--figure-margin-right) $gap-big var(--figure-margin-left);
  text-align: center;

  figcaption {
    color: var(--secondary-text-color);
    font-size: $font-size-small;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  .half-width {
    max-width: 50%;
  }
}
