.footer {
  position: relative;
  @include reverse-section();

  $triangle-max-width: 15px;
  $sin-60deg: 0.866;
  $triangle-background-height: #{7 * $sin-60deg * $triangle-max-width};

  margin-top: calc(#{2 * $gap-huge} + #{$triangle-background-height});

  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;
    height: #{$triangle-background-height};
    background-repeat: repeat-x;
    background-color: var(--background-color);
    background-image:
      linear-gradient(0deg, var(--background-color) 35%, transparent 35%),
      linear-gradient(60deg, transparent 52.66%, var(--background-color) 52.66%),
      linear-gradient(-240deg, transparent 47.33%, var(--text-color) 47.33%),

      linear-gradient(0deg, var(--background-color) 32%, transparent 35%),
      linear-gradient(60deg, transparent 54.66%, var(--background-color) 54.66%),
      linear-gradient(-240deg, transparent 45.33%, var(--text-color) 45.33%),

      linear-gradient(0deg, var(--background-color) 28%, transparent 30%),
      linear-gradient(60deg, transparent 56.66%, var(--background-color) 56.66%),
      linear-gradient(-240deg, transparent 43.33%, var(--text-color) 43.33%),

      linear-gradient(0deg, var(--background-color) 23%, transparent 25%),
      linear-gradient(60deg, transparent 58.66%, var(--background-color) 58.66%),
      linear-gradient(-240deg, transparent 41.33%, var(--text-color) 41.33%),

      linear-gradient(0deg, var(--background-color) 17%, transparent 17%),
      linear-gradient(60deg, transparent 61.66%, var(--background-color) 61.66%),
      linear-gradient(-240deg, transparent 38.33%, var(--text-color) 38.33%),

      linear-gradient(0deg, var(--background-color) 10%, transparent 10%),
      linear-gradient(60deg, transparent 63.66%, var(--background-color) 63.66%),
      linear-gradient(-240deg, transparent 36.33%, var(--text-color) 36.33%),

      linear-gradient(60deg, transparent 66.66%, var(--background-color) 66.66%),
      linear-gradient(-240deg, transparent 33.33%, var(--text-color) 33.33%);
    background-size: $triangle-max-width $sin-60deg * $triangle-max-width;

    background-position:
      left 50% bottom 6 * $sin-60deg * $triangle-max-width,
      left 50% bottom 6 * $sin-60deg * $triangle-max-width,
      left 50% bottom 6 * $sin-60deg * $triangle-max-width,
      left calc(50% - #{$triangle-max-width * 0.5}) bottom 5 * $sin-60deg * $triangle-max-width,
      left calc(50% - #{$triangle-max-width * 0.5}) bottom 5 * $sin-60deg * $triangle-max-width,
      left calc(50% - #{$triangle-max-width * 0.5}) bottom 5 * $sin-60deg * $triangle-max-width,
      left 50% bottom 4 * $sin-60deg * $triangle-max-width,
      left 50% bottom 4 * $sin-60deg * $triangle-max-width,
      left 50% bottom 4 * $sin-60deg * $triangle-max-width,
      left calc(50% - #{$triangle-max-width * 0.5}) bottom 3 * $sin-60deg * $triangle-max-width,
      left calc(50% - #{$triangle-max-width * 0.5}) bottom 3 * $sin-60deg * $triangle-max-width,
      left calc(50% - #{$triangle-max-width * 0.5}) bottom 3 * $sin-60deg * $triangle-max-width,
      left 50% bottom 2 * $sin-60deg * $triangle-max-width,
      left 50% bottom 2 * $sin-60deg * $triangle-max-width,
      left 50% bottom 2 * $sin-60deg * $triangle-max-width,
      left calc(50% - #{$triangle-max-width * 0.5}) bottom $sin-60deg * $triangle-max-width,
      left calc(50% - #{$triangle-max-width * 0.5}) bottom $sin-60deg * $triangle-max-width,
      left calc(50% - #{$triangle-max-width * 0.5}) bottom $sin-60deg * $triangle-max-width,
      left 50% bottom 0px,
      left 50% bottom 0px;
  }

  a {
    text-decoration: underline;
  }

  .footer-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $gap-big;
    row-gap: $gap-huge;
    padding: $gap-big 0 $gap-huge;
    font-size: $font-size-small;

    @media #{$small} {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  h2 {
    font-size: $font-size-paragraph;
    color: var(--background-color);
    margin-top: 0;
  }

  a, p {
    color: var(--secondary-background-color);
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .legal {
    grid-column: 1 / 3;

    @media #{$small} {
      grid-column: 3 / 4;
    }
  }

  .triangles {
    padding: $gap-small 0 $gap-medium 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: $gap-medium;

    svg:nth-child(1) {
      width: $gap-big;
      transform: rotate(10deg);
      * { fill: var(--accent-color1); }
    }

    svg:nth-child(2) {
      width: $gap-big * 0.75;
      transform: rotate(-75deg);
      * { fill: var(--accent-color2); }
    }

    svg:nth-child(3) {
      width: $gap-big * 0.5;
      transform: rotate(15deg);
      * { fill: var(--accent-color3); }
    }
  }
}
