$header-border-width: 5px;

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $gap-medium;

  position: relative;
  font-family: $header-font-family;
  margin-top: $gap-big;
  margin-bottom: $gap-huge;
  border-bottom: $header-border-width solid transparent;

  @media #{$small} {
    display: inherit;
    align-items: end;
    gap: 0;
  }

  a {
    text-decoration: none;
  }

  .logo {
    --logo-size: clamp(2.5rem, calc(2rem + 3vw), 4rem);
    width: var(--logo-size);
    height: var(--logo-size);
    display: flex;
    align-items: flex-end;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-bottom: -1 * $header-border-width;

    svg {
      width: 100%;
    }
  }

  nav {
    max-width: $page-max-width;
    display: flex;
    align-items: flex-end;
    gap: $gap-small;
    justify-content: flex-end;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    @media #{$small} {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      --logo-size: 3rem;
    }

    > * {
      padding: $gap-tiny $gap-small 0 $gap-small;
      position: relative;
      z-index: 1;
      font-weight: 900;

      &:before {
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--accent-color);
        width: 100%;
        height: $header-border-width;
        transition: transform $transition-duration ease;
        z-index: -1;
      }

      &:hover, &[aria-current="page"]  {
        &:before {
          $zoom: 2.3;
          transform: translateY(($zoom - 1) * -50%) scaleY(100% * $zoom);
        }
      }


      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        &::before {
          content: '';
        }
      }

      &:nth-child(1) { --accent-color: var(--accent-color1) }
      &:nth-child(2) { --accent-color: var(--accent-color2) }
      &:nth-child(3) { --accent-color: var(--accent-color3) }
    }

    a {
      color: var(--text-color);
    }

    .dark-mode-switch-input {
      position: absolute;
      width: 0;
      height: 0;
      line-height: 0;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      margin: 0;

      &:focus-visible {
        outline: 0;

        & + label {
          @include focus()
        }
      }
    }

    .dark-mode-switch-label {
      @include button_reset();
      cursor: pointer;
      font-size: 1.3em;
      line-height: 1.3em;

      .fas {
        transition: all $transition-duration ease;
      }

      &:hover {
        .fas {
          transform: rotate(30deg);
        }
      }
    }
  }
}
