$header-border-width: 5px;

.header {
  position: relative;
  font-family: $header-font-family;
  margin-top: $gap-medium;
  margin-bottom: $gap-huge;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  gap: $gap-medium;
  border-bottom: $header-border-width solid var(--text-color);

  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 100%;
    top: 100%;
    height: $header-border-width;
    width: 10 * $header-border-width;
    background: var(--text-color);
  }

  a {
    text-decoration: none;
  }

  .logo {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: flex-end;

    svg {
      * {
        fill: var(--text-color);
      }
    }
  }

  nav {
    display: flex;
    align-items: flex-end;
    gap: $gap-small;
    margin-left: $gap-big;
    justify-content: flex-end;

    > * {
      padding: $gap-tiny $gap-small 0 $gap-small;
      position: relative;
      z-index: 1;

      &:before {
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--accent-color);
        width: 100%;
        height: $header-border-width;
        transition: all $transition-duration ease;
        z-index: -1;
      }

      &:hover, &[aria-current="page"]  {
        &:before {
          $zoom: 2.3;
          transform: translateY(($zoom - 1) * -50%) scaleY(100% * $zoom);
        }
      }


      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        &::before {
          content: '';
        }
      }

      &:nth-child(1) { --accent-color: #{$yellow}; }
      &:nth-child(2) { --accent-color: #{$orange}; }
      &:nth-child(3) { --accent-color: #{$red}; }
    }

    a {
      color: var(--text-color);
    }

    .dark-mode-switch-input {
      position: absolute;
      width: 0;
      height: 0;
      line-height: 0;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      margin: 0;

      &:focus-visible {
        outline: 0;

        & + label {
          @include focus()
        }
      }
    }

    .dark-mode-switch-label {
      @include button_reset();
      cursor: pointer;
      font-size: 1.3em;
      line-height: 1.3em;
    }
  }
}
