.header {
  font-family: $header-font-family;
  margin-top: $gap-medium;
  margin-bottom: $gap-big;
  display: flex;
  gap: $gap-medium;
  flex-direction: column;

  @media #{$small} {
    margin-top: $gap-big;
    margin-bottom: $gap-huge;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
  }

  .logo {
    font-size: $font-size-h4;
    font-weight: 700;

    em {
      font-style: normal;
      font-size: $font-size-h1;
    }
  }

  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $gap-big;

    @media #{$small} {
      margin-left: $gap-big;
      justify-content: flex-end;
    }

    a {
      color: var(--secondary-text-color);
    }

    a[aria-current="page"] {
      // TODO: style
    }

    .dark-mode-switch-input {
      position: absolute;
      width: 0;
      height: 0;
      line-height: 0;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      margin: 0;

      &:focus-visible + label {
        outline-width: 2px;
        outline-offset: -2px;
        outline-style: solid;
      }
    }

    .dark-mode-switch-label {
      @include button_reset();
      cursor: pointer;
      font-size: 1.5em;
      line-height: 0;
    }
  }
}
