.highlighters {
  display: none;
  overflow: hidden;

  input[type=radio] {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    &:focus + label {
      outline-width: 2px;
    }

    &:focus-visible + label {
      outline-width: 2px;
      outline-offset: -2px;
      outline-style: solid;
    }

    &:checked + label {
      transform: translateX(0);
    }
  }

  @media #{$big} {
    display: block;
    position: fixed;
    top: 20px;
    bottom: 0;
    left: 0;
    width: 100px;
  }

  .highlighter {
    @include transition();
    @include button_reset();
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 0;
    margin-bottom: 10px;
    transform: translateX(-10px);

    &:hover, input:checked + & {
      transform: translateX(0);
    }

    &.magenta {
      --tip-color: var(--magenta);
    }

    &.cyan {
      --tip-color: var(--cyan);
    }

    &.green {
      --tip-color: var(--green);
    }

    &.yellow {
      --tip-color: var(--yellow);
    }

    $thickness: 40px;

    .highlighter-body {
      height: $thickness;
      display: flex;

      &:before {
        content: '';
        height: 100%;
        background-image: linear-gradient(90deg, var(--tip-color) 80%, black 81%);
        width: 30px;
        display: block;
      }

      &:after {
        content: '';
        height: 100%;
        width: 0;
        display: block;
        border-left: 0.3333 * $thickness solid black;
        border-bottom: 0.3333 * $thickness solid transparent;
        border-top: 0.3333 * $thickness solid transparent;
      }
    }

    .highlighter-tip {
      height: 0.3333 * $thickness;
      display: flex;

      &:before {
        content: '';
        height: 100%;
        background-image: linear-gradient(90deg, black 60%, var(--tip-color) 61%);
        width: 20px;
        display: block;
      }

      &:after {
        content: '';
        height: 100%;
        display: block;
        border-left: 10px solid var(--tip-color);
        border-bottom: 0.3333 * $thickness solid transparent;
        border-top: 0 solid transparent;
      }
    }
  }
}
