.list {
  li {
    display: flex;
    margin-bottom: $small-gap;
  }

  a {
    @include fake-highlight-underline();
  }

  .list-item {
    display: inline-flex;
    flex-direction: column;
  }

  .list-item-title {
    font-weight: bold;
  }

  .list-item-icon {
    vertical-align: bottom;
    width: 1.44em;
    height: 1.44em;
    margin-right: $tiny-gap;
  }
}
