nav {
  font-family: $header-font-family;
  margin-top: $medium-gap;
  margin-bottom: $big-gap;

  @media #{$small} {
    margin-top: $big-gap;
    margin-bottom: $huge-gap;
    display: flex;
    justify-content: space-between;
  }

  header {
    font-size: $h1-font-size;
    font-weight: 700;
    margin-bottom: $medium-gap;

    @media #{$small} {
      text-align: left;
      margin-bottom: 0;
    }

    a {
      &:hover {
        background: none;
      }
    }

    em {
      font-style: normal;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media #{$small} {
      margin-left: $big-gap;
      justify-content: flex-end;
    }

    li {
      display: inline-block;
      white-space: nowrap;

      a {
        position: relative;
        padding: $tiny-gap;
        color: var(--secondary-text-color);
      }

      h1 {
        font-size: inherit;
        font-weight: inherit;
        margin: 0;
        font-family: inherit;
        display: inline-block;
      }

      a[aria-current="page"] {
        font-weight: bold;
      }

      .dark-mode-switch-input {
        position: absolute;
        width: 0;
        height: 0;
        line-height: 0;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;

        &:focus-visible + label {
          outline-width: 2px;
          outline-offset: -2px;
          outline-style: solid;
        }
      }

      .dark-mode-switch-label {
        @include button_reset();
        cursor: pointer;
        vertical-align: middle;
        font-size: 1.5em;
      }
    }
  }

  &.pagination {
    font-family: $paragraph-font-family;
    margin: $huge-gap 0 0 0;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      margin: 0;


      .pagination-prev {
        grid-column: 1;
        justify-self: start;
      }

      .pagination-current {
        grid-column: 2;
        justify-self: center;
      }

      .pagination-next {
        grid-column: 3;
        justify-self: end;
      }
    }
  }
}
