.post {
  header {
    margin-bottom: $big-gap;

    h1 {
      margin-bottom: $small-gap;
      text-align: center;
    }

    .post-meta {
      @include clearfix;

      margin-bottom: $small-gap;
      font-size: $small-font-size;

      .tags {
        a:not(:first-child) {
          margin-left: $tiny-gap;
        }
      }
    }
  }
}