.post {
  header {
    margin-bottom: $big-gap;

    h1 {
      margin-bottom: $small-gap;
    }
  }

  #disqus_thread {
    margin-top: $huge-gap;
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
  }

  .header-link {
    display: none;
    position: absolute;
    right: 100%;
    top: 0.7em; // can't be vertically centered due to multiline headers (must stick to first line)
    margin-right: $tiny-gap;
    opacity: 0;
    font-size: 0.5em;
    color: var(--secondary-text-color);
    z-index: 10;
  }

  @media #{$medium} {
    .header-link {
      display: block;
    }

    h1, h2, h3, h4, h5, h6 {
      &:hover .header-link {
        opacity: 1;
      }
    }
  }

  ul.notes {
    list-style: decimal;
    font-size: 80%;
  }
}

.post-meta {
  @include post-meta;
}

.disqus-info {
  background-color: var(--outer-background-color);
  padding: $medium-gap;

  > *:first-child {
    margin-top: 0;
  }

  .question {
    font-weight: bold;
  }

  .answer button {
    background: none;
    font: inherit;
    border: 0;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
  }
}
