.post {
  + aside {
    display: none;
  }
}

@media #{$very-big} {
  .post {
    + aside {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: fixed;
      top: 0;
      width: calc(50% - #{$page-max-width/2});
      transform: translateX(-100%);
      text-align: right;
      padding: $gap-small $page-wrapper-left-padding-small-screen 0 0;
      font-family: $paragraph-font-family;

      span {
        background-color: var(--background-color);
        position: relative;
        display: block;
        overflow: hidden;
        padding: $gap-tiny $gap-small $gap-tiny $gap-small;
      }

      a {
        color: var(--secondary-text-color);

        &.h2 {
          font-size: rem-calc(18);
        }

        &.h3 {
          font-size: rem-calc(16);
        }

        &.h4 {
          font-size: rem-calc(14);
        }

        &.h5 {
          font-size: rem-calc(12);
        }

        &.h6 {
          font-size: rem-calc(10);
        }
      }
    }
  }
}
