.post-preview {
  margin: 0 auto $huge-gap auto;

  time {
    @include delicate;
  }

  h2 {
    margin-top: 0;

    a {
      text-decoration: none;
    }
  }

  .post-preview-meta {
    @include post-meta;

    text-align: left;
  }

  .post-preview-description {
    margin-bottom: $medium-gap;
  }
}
