.social-links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    &:before {
      content: none;
    }
  }

  a {
    padding: $tiny-gap;
    font-size: $h4-font-size;
  }

  .exercism svg {
    margin-bottom: rem-calc(-2);
  }

  .dev svg {
    margin-bottom: rem-calc(-5);
  }

  .exercism, .dev {
    svg {
      width: $h4-font-size;

      path {
        @include transition;

        fill: var(--text-color);
      }
    }
  }
}
