.social-links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  $link-size: $font-size-h5;

  li {
    display: inline-block;

    &:before {
      content: none;
    }
  }

  a {
    padding: $gap-tiny;
    font-size: $link-size;
  }

  .exercism svg {
    margin-bottom: rem-calc(-2);
  }

  .exercism {
    svg {
      width: $link-size;

      path {
        @include transition;

        fill: var(--text-color);
      }
    }
  }
}
