<!doctype html>
<html lang="en">
{% include head.html title=page.title %}
<body>

<div class="page-wrapper">
  <nav aria-label="main">
    {% include header.html %}
    <ul>
      <li>
        <a href="/" {% if page.path == "about" %} aria-current="page" {% endif %}>
          About
        </a>
      </li>
      <li>
        <span class="dot" aria-hidden="true">&middot;</span>
        <a href="/blog" {% if page.path == "blog" %} aria-current="page" {% endif %}>
          Blog
        </a>
      </li>
      <li>
        <span class="dot" aria-hidden="true">&middot;</span>
        <a href="/bookmarks" {% if page.path == "bookmarks" %} aria-current="page" {% endif %}>
          Bookmarks
        </a>
      </li>
      <li>
        <span class="dot" aria-hidden="true">&middot;</span>
        <input type="checkbox" id="dark-mode" name="dark-mode" class="dark-mode-switch-input"/>
        <label for="dark-mode" class="dark-mode-switch-label">
          <span class="sr-only">Dark mode </span>☀️
        </label>
      </li>
    </ul>
  </nav>

  <main class="page-content {{ page.title | slugify }}">
    {{ content }}
  </main>

  {% include footer.html %}
</div>

{% asset dark_mode_switch.js %}

<script id="dsq-count-scr" src="//angelikatyborska.disqus.com/count.js" async></script>

</body>
</html>
