<!doctype html>
<html lang="en">
{% include head.html title=page.title %}
{% assign random = 0 %}

<body class="post-og-image post-og-image-variant-{{random}}">
{% asset post_og_image %}
<article class="post">
  <div class="logo">
    {% asset 'logo.svg' @inline %}
    <span class="page-title">angelika.me</span>
  </div>
  <header>
    <h1>Angelika Tyborska</h1>
    <div class="post-meta">
      <span class="tags">
        <span>HTML</span>,
        <span>CSS</span>,
        <span>JavaScript</span>,
        <span>Elixir</span>
      </span>
    </div>

    <div class="portrait">
      <img src="{% asset avatar.jpg @path %}"
           alt=""
           aria-hidden="true"
           width="250"
           height=250"
      />
    </div>
  </header>
  <div class="triangles" aria-hidden="true">
    {% asset design/triangle @inline %}
    {% asset design/triangle @inline %}
    {% asset design/triangle @inline %}
  </div>
</article>
</body>
</html>
