<!doctype html>
<html lang="en">
{% include head.html title=page.title %}
<body>
<div class="page-wrapper">
 {% include header.html %}

  <nav>
    <ul>
      <li>
        <a href="/" title="Blog">Blog</a>
      </li>
      <li>
        <a href="/topics" title="Topics">Topics</a>
      </li>
      <li>
        <a href="/about" title="About me and this blog">About</a>
      </li>
    </ul>
  </nav>

  <div class="page-content {{ page.title | slugify }}">
    {{ content }}
  </div>

  {% include footer.html %}
</div>

<script id="dsq-count-scr" src="//angelikatyborska.disqus.com/count.js" async></script>

</body>
</html>